In [2]:
import pandas as pd 

df = pd.read_csv(r"C:/Users/HP/Downloads/automobile/imports-85.data",header=None) 

df.columns=['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration', 'num_of_doors', 'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type', 'num_of_cylinder', 'engine_size', 'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price']
print(df)

     symboling normalized_losses         make fuel_type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            3                 ?  alfa-romero       gas        std
2            1                 ?  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num_of_doors   body_style drive_wheels engine_location  wheel_base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine_size  fuel_system  bore  stroke compression_ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak_rpm city_mpg highway_mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num_of_doors       205 non-null    object
 6   body_style         205 non-null    object
 7   drive_wheels       205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  num_of_cylinder    205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak_rpm           205 non-null    object
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [4]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [5]:
continous_values=['normalized_losses', 'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_size', 'bore', 'stroke', 'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price']
numeric_df=df[continous_values]
print(numeric_df)

    normalized_losses  wheel_base  length  width  height  curb_weight  \
0                   ?        88.6   168.8   64.1    48.8         2548
1                   ?        88.6   168.8   64.1    48.8         2548
2                   ?        94.5   171.2   65.5    52.4         2823
3                 164        99.8   176.6   66.2    54.3         2337
4                 164        99.4   176.6   66.4    54.3         2824
..                ...         ...     ...    ...     ...          ...
200                95       109.1   188.8   68.9    55.5         2952
201                95       109.1   188.8   68.8    55.5         3049
202                95       109.1   188.8   68.9    55.5         3012
203                95       109.1   188.8   68.9    55.5         3217
204                95       109.1   188.8   68.9    55.5         3062

     engine_size  bore stroke  compression_ratio horsepower peak_rpm  \
0            130  3.47   2.68                9.0        111     5000
1            130  3.47   2.68                9.0        111     5000
2            152  2.68   3.47                9.0        154     5000
3            109  3.19   3.40               10.0        102     5500
4            136  3.19   3.40                8.0        115     5500
..           ...   ...    ...                ...        ...      ...
200          141  3.78   3.15                9.5        114     5400
201          141  3.78   3.15                8.7        160     5300
202          173  3.58   2.87                8.8        134     5500
203          145  3.01   3.40               23.0        106     4800
204          141  3.78   3.15                9.5        114     5400

     city_mpg  highway_mpg  price
0          21           27  13495
1          21           27  16500
2          19           26  16500
3          24           30  13950
4          18           22  17450
..        ...          ...    ...
200        23           28  16845
201        19           25  19045
202        18           23  21485
203        26           27  22470
204        19           25  22625

[205 rows x 15 columns]

In [6]:
import numpy as np
numeric_df=numeric_df.replace("?", np.nan)
numeric_df.head(5)

,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495
1,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500
2,NaN,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500
3,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950
4,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450

In [7]:
numeric_df=numeric_df.astype('float')
numeric_df.isnull().sum()

normalized_losses    41
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_size           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [8]:
numeric_df=numeric_df.dropna(subset=['price'])
numeric_df.isnull().sum()

normalized_losses    37
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_size           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 0
dtype: int64

In [9]:
numeric_df=numeric_df.fillna(numeric_df.mean())
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized_losses  201 non-null    float64
 1   wheel_base         201 non-null    float64
 2   length             201 non-null    float64
 3   width              201 non-null    float64
 4   height             201 non-null    float64
 5   curb_weight        201 non-null    float64
 6   engine_size        201 non-null    float64
 7   bore               201 non-null    float64
 8   stroke             201 non-null    float64
 9   compression_ratio  201 non-null    float64
 10  horsepower         201 non-null    float64
 11  peak_rpm           201 non-null    float64
 12  city_mpg           201 non-null    float64
 13  highway_mpg        201 non-null    float64
 14  price              201 non-null    float64
dtypes: float64(15)
memory usage: 25.1 KB

https://analystanswers.com/data-normalization-techniques-easy-to-advanced-the-best/

In [10]:
normalized_df=(numeric_df-numeric_df.min())/(numeric_df.max()-numeric_df.mean())
normalized_df['price']=numeric_df['price']
normalized_df.head()

,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0.425373,0.090486,0.817133,0.621835,0.165746,0.701832,0.346517,1.526368,0.668056,0.155815,0.397218,0.573390,0.335840,0.471831,13495.0
1,0.425373,0.090486,0.817133,0.621835,0.165746,0.701832,0.346517,1.526368,0.668056,0.155815,0.397218,0.573390,0.335840,0.471831,16500.0
2,0.425373,0.357418,0.887932,0.850932,0.762431,0.883911,0.457001,0.229776,1.533244,0.155815,0.668335,0.573390,0.251880,0.428937,16500.0
3,0.738806,0.597204,1.047228,0.965481,1.077348,0.562128,0.241055,1.066817,1.456582,0.233723,0.340473,0.910678,0.461779,0.600512,13950.0
4,0.738806,0.579107,1.047228,0.998209,1.077348,0.884573,0.376649,1.066817,1.456582,0.077908,0.422438,0.910678,0.209900,0.257362,17450.0